<% layout('layouts/boilerPlate') %>
<form action="http://localhost:3000/api/auth/login" method="POST">
  <label class="form-label" for="name">Name </label>
  <input class="form-control" type="text" id="name" name="name" required />
  <label class="form-label" for="name">password </label>
  <input class="form-control" type="text" id="name" name="password" required />
  <button>Submit</button>
</form>
