
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Terms & Conditions</title>
</head>
<body>
    <div class="container">
        <div class="about us">
            <h2 style="text-align: center;">Maram - Return, Refund, Cancellation Policies, Terms & Conditions</h2>
            <h3>About us</h3>
            <!-- <h3>OUR MISSION</h3> -->
            <p>We are centred around supporting a nonpartisan platform and are helping food establishments keep up elite desires through Hyper unadulterated. Food Hygiene Ratings is an ideal quality of significant worth among our restaurant partners. </p>
            <h3>Contacts Us</h3>
            <p>If you have got any queries on this Privacy Policy, the practices of this site, or your dealings with this site, kindly visit our site: maram.in  </p>
            <h3>Privacy</h3>
            <p>This Privacy ("Policy") depicts the policy and method on the variety, use, disclosure and affirmation of your information when you use our website located at maram.in, or the Maram mobile application made open by Maram Online LLP ("Maram", "Association", "we", "us" and "our") </p>
            
            <p>The expression "you" and "your" imply the user of the Maram Platform. The term "administration" alludes any service offered by Maram whether on the Maram Platform or something else.</p>
            
            <p>You should peruse this Policy before using the Maram Platform or submitting any personal information to Maram. This Policy is a piece of and joined inside, and is to be scrutinized close by, the Terms of Use.</p>
            <h3>Return and Refunds</h3>
            <p>Maram has a refund policy drafted to pass on 100% customer reliability. There are several limits set to profit a refund if the things were not up to norm. For an isolated variety check our refund policy. Purchasers may be equipped for a refund upto 100% of the Order regard if PDP fails to deliver the Order in view of an explanation attributable to either PDP or Maram, in any case such limits will be overviewed on a case to case premise by Maram.</p>
            <h3>Cancellation Policies</h3>
            <p>Going with general guideline Buyer won't be equipped for cancellation Order once placed. Buyer may choose to cancel Order just in one-snapshot of the Order being put. In any case, subject to Buyer's past cancelation history, Maram keeps up all position to deny any refund to Buyer as indicated by an intersection out began by Buyer whether or not the equal is inside one-minute followed by suspension of record, as may be significant in the sole reasonability of Maram.</p>
            <h3>Terms & Conditions</h3>
            <p>These terms of usage (the "Terms of Use") direct your use of our site maram.in (the "Site") and our "Maram" application for portable and handheld devices (the "Application"). The Website and the App are commonly implied as the "platform". In the event that it's not all that much difficulty read these Terms of Use mindfully before you use the service.</p>
            
            <p>If you don't agree to these Terms of Use, you may not use the service on the Platform, and we request you to uninstall the App. By presenting, downloading or even just using the Platform, you will contract with Maram and you mean your affirmation to this Terms of Use and other Maram methodologies (checking anyway not limited to the Cancellation and Refund Policy, Privacy Policy and Take Down Policy) as posted on the Platform and changed sometimes, which produces results on the date on which you download, present or use the Platform, and make a legally confining arrangement to submit to the same.</p>

        </div>
    </div>
</body>