<% layout('layouts/boilerPlate') %>
<div class="account-settings-container layout-top-spacing">
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <div class="page-header">
        
      </div>

      <div class="account-content">
        <div
          class="scrollspy-example"
          data-spy="scroll"
          data-target="#account-settings-scroll"
          data-offset="-100"
        >
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
              <form id="general-info" class="section general-info" action="/super_admin/branch/update_change_password" method="post" >
                <div class="info">
                  <h6 class="">Change Password</h6>
                  <div class="row">
                    <div class="col-lg-11 mx-auto">
                      <div class="row">
                        
                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4 ">
                          <div class="form">
                            <div class="row">
                              <div class="col-sm-6">
                                
                                <div class="form-group">



                                  <label for="fullName" style="color: #198754;font-weight : bold">Old Password</label>
                                  <input
                                    type="password"
                                    class="form-control mb-4"
                                    id="password"
                                    placeholder=" Enter Your Old Password"
                                    required
                                    name="old_password"
                                   
                                  />
                                </div>
                              </div>
                             
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="fullNames" style="color: #198754;font-weight : bold">New Password <span style="color:#000 ;font-weight:500">(minimum 8 characters)</span></label>
                                <input
                                  type="password"
                                  class="form-control mb-4"
                                  id="password1"
                                  placeholder=" Enter Your New Password "
                                    min="8"
                                    required
                                  name="new_password"
                                />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              
                          
                          
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="professionss" style="color: #198754;font-weight : bold"> Confirm Password <span style="color:#000 ;font-weight:500">(minimum 8 characters)</span></label>
                                    <input
                                      type="password"
                                      class="form-control mb-4"
                                      id="password2"
                                      placeholder="Enter Your Confirm Password"
                                      min="8"
                                    required
                                    name="confirm_new_password"
                                    />
                                  </div>
                            </div>
                            

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary mt-4">Save</button>
                                <button type="button" class="btn btn-danger mt-4 ml-2"><a href="/home" style="color:#fff ;">Discard</a></button>
                                <button type="button" class="btn btn-info mt-4 ml-2" onclick="showPassword()">Show Passwords</button>
                            </div>
                        </div>
                        </div>
                        <script>
                            function showPassword(){
                               
                                const pass = document.getElementById("password")
                                const pass1 = document.getElementById("password1")
                                const pass2 = document.getElementById("password2")

                     

                                if(pass.type == "text"){
                                    pass.type = "password"
                                    pass1.type = "password"
                                    return pass2.type = "password"
                                }

                                pass.type = "text"
                                    pass1.type = "text"
                                    return pass2.type = "text"

                            }
                        </script>
                      
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
